In [1]:
# Import necessary libraries
import pandas as pd

# Load the dataset 
file_path = "C:/Users/balla/Downloads/Pakistan Largest Ecommerce Dataset.csv/Pakistan Largest Ecommerce Dataset.csv"
data = pd.read_csv(file_path)

# Display basic information about the dataset
print("Dataset Info:")
print(data.info())  

# Display the first few rows of the dataset
print("\nFirst 5 Rows:")
print(data.head())

# Display column names
print("\nColumn Names:")
print(data.columns)

# Check the shape of the dataset (rows, columns)
print("\nDataset Shape (rows, columns):")
print(data.shape)

# Check for missing values
print("\nMissing Values:")
print(data.isnull().sum())

# Check for duplicates
print("\nNumber of Duplicate Rows:")
print(data.duplicated().sum())

# Generate summary statistics for numeric columns
print("\nSummary Statistics for Numeric Columns:")
print(data.describe())

C:\Users\balla\AppData\Local\Temp\ipykernel_15984\2571666502.py:6: DtypeWarning: Columns (1,2,3,7,8,9,11,12,13,14,17,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 26 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   item_id                584524 non-null  float64
 1   status                 584509 non-null  object
 2   created_at             584524 non-null  object
 3   sku                    584504 non-null  object
 4   price                  584524 non-null  float64
 5   qty_ordered            584524 non-null  float64
 6   grand_total            584524 non-null  float64
 7   increment_id           584524 non-null  object
 8   category_name_1        584360 non-null  object
 9   sales_commission_code  447346 non-null  object
 10  discount_amount        584524 non-null  float64
 11  payment_method         584524 non-null  object
 12  Working Date           584524 non-null  object
 13  BI Status              584524 non-null  object
 14   MV                    584524 non-null  object
 15  Year                   584524 non-null  float64
 16  Month                  584524 non-null  float64
 17  Customer Since         584513 non-null  object
 18  M-Y                    584524 non-null  object
 19  FY                     584524 non-null  object
 20  Customer ID            584513 non-null  float64
 21  Unnamed: 21            0 non-null       float64
 22  Unnamed: 22            0 non-null       float64
 23  Unnamed: 23            0 non-null       float64
 24  Unnamed: 24            0 non-null       float64
 25  Unnamed: 25            0 non-null       float64
dtypes: float64(13), object(13)
memory usage: 208.0+ MB
None

First 5 Rows:
    item_id          status created_at  \
0  211131.0        complete   7/1/2016
1  211133.0        canceled   7/1/2016
2  211134.0        canceled   7/1/2016
3  211135.0        complete   7/1/2016
4  211136.0  order_refunded   7/1/2016

                                                 sku   price  qty_ordered  \
0                                  kreations_YI 06-L  1950.0          1.0
1  kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...   240.0          1.0
2                                 Ego_UP0017-999-MR0  2450.0          1.0
3                                     kcc_krone deal   360.0          1.0
4                                        BK7010400AG   555.0          2.0

   grand_total increment_id    category_name_1 sales_commission_code  ...  \
0       1950.0    100147443    Women's Fashion                    \N  ...
1        240.0    100147444  Beauty & Grooming                    \N  ...
2       2450.0    100147445    Women's Fashion                    \N  ...
3         60.0    100147446  Beauty & Grooming           R-FSD-52352  ...
4       1110.0    100147447            Soghaat                    \N  ...

   Month Customer Since     M-Y    FY Customer ID  Unnamed: 21  Unnamed: 22  \
0    7.0         2016-7  7-2016  FY17         1.0          NaN          NaN
1    7.0         2016-7  7-2016  FY17         2.0          NaN          NaN
2    7.0         2016-7  7-2016  FY17         3.0          NaN          NaN
3    7.0         2016-7  7-2016  FY17         4.0          NaN          NaN
4    7.0         2016-7  7-2016  FY17         5.0          NaN          NaN

  Unnamed: 23 Unnamed: 24 Unnamed: 25
0         NaN         NaN         NaN
1         NaN         NaN         NaN
2         NaN         NaN         NaN
3         NaN         NaN         NaN
4         NaN         NaN         NaN

[5 rows x 26 columns]

Column Names:
Index(['item_id', 'status', 'created_at', 'sku', 'price', 'qty_ordered',
       'grand_total', 'increment_id', 'category_name_1',
       'sales_commission_code', 'discount_amount', 'payment_method',
       'Working Date', 'BI Status', ' MV ', 'Year', 'Month', 'Customer Since',
       'M-Y', 'FY', 'Customer ID', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25'],
      dtype='object')

Dataset Shape (rows, columns):
(1048575, 26)

Missing Values:
item_id                   464051
status                    464066
created_at                464051
sku                       464071
price                     464051
qty_ordered               464051
grand_total               464051
increment_id              464051
category_name_1           464215
sales_commission_code     601229
discount_amount           464051
payment_method            464051
Working Date              464051
BI Status                 464051
 MV                       464051
Year                      464051
Month                     464051
Customer Since            464062
M-Y                       464051
FY                        464051
Customer ID               464062
Unnamed: 21              1048575
Unnamed: 22              1048575
Unnamed: 23              1048575
Unnamed: 24              1048575
Unnamed: 25              1048575
dtype: int64

Number of Duplicate Rows:
464050

Summary Statistics for Numeric Columns:
             item_id         price    qty_ordered   grand_total  \
count  584524.000000  5.845240e+05  584524.000000  5.845240e+05
mean   565667.074218  6.348748e+03       1.296388  8.530619e+03
std    200121.173648  1.494927e+04       3.996061  6.132081e+04
min    211131.000000  0.000000e+00       1.000000 -1.594000e+03
25%    395000.750000  3.600000e+02       1.000000  9.450000e+02
50%    568424.500000  8.990000e+02       1.000000  1.960400e+03
75%    739106.250000  4.070000e+03       1.000000  6.999000e+03
max    905208.000000  1.012626e+06    1000.000000  1.788800e+07

       discount_amount           Year          Month    Customer ID  \
count    584524.000000  584524.000000  584524.000000  584513.000000
mean        499.492775    2017.044115       7.167654   45790.511965
std        1506.943046       0.707355       3.486305   34414.962389
min        -599.500000    2016.000000       1.000000       1.000000
25%           0.000000    2017.000000       4.000000   13516.000000
50%           0.000000    2017.000000       7.000000   42856.000000
75%         160.500000    2018.000000      11.000000   73536.000000
max       90300.000000    2018.000000      12.000000  115326.000000

       Unnamed: 21  Unnamed: 22  Unnamed: 23  Unnamed: 24  Unnamed: 25
count          0.0          0.0          0.0          0.0          0.0
mean           NaN          NaN          NaN          NaN          NaN
std            NaN          NaN          NaN          NaN          NaN
min            NaN          NaN          NaN          NaN          NaN
25%            NaN          NaN          NaN          NaN          NaN
50%            NaN          NaN          NaN          NaN          NaN
75%            NaN          NaN          NaN          NaN          NaN
max            NaN          NaN          NaN          NaN          NaN

In [2]:
# Verify column names
print(data.columns.tolist())

# Update the columns_to_drop list as needed
columns_to_drop = ["increment_id", "sales_commission_code", "Working Date", "BI Status", " MV ", "FY", 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25']

# Drop irrelevant columns with errors='ignore' to avoid KeyError
data.drop(columns=columns_to_drop, inplace=True, errors='ignore')

# Display the shape after dropping columns
print(f"Shape After Dropping Irrelevant Columns: {data.shape}")

['item_id', 'status', 'created_at', 'sku', 'price', 'qty_ordered', 'grand_total', 'increment_id', 'category_name_1', 'sales_commission_code', 'discount_amount', 'payment_method', 'Working Date', 'BI Status', ' MV ', 'Year', 'Month', 'Customer Since', 'M-Y', 'FY', 'Customer ID', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25']
Shape After Dropping Irrelevant Columns: (1048575, 15)

In [3]:
# Check missing values in critical columns
critical_columns = ['item_id', 'status', 'created_at', 'sku', 'price', 'qty_ordered', 'grand_total', 'category_name_1', 'discount_amount', 'payment_method', 'Year', 'Month', 'Customer Since', 'M-Y', 'Customer ID']
missing_critical = data[critical_columns].isnull().sum()
print("Missing Values in Critical Columns:\n", missing_critical)

# Drop rows where critical columns have missing values
data.dropna(subset=critical_columns, inplace=True)

# Display shape after dropping rows with missing values
print(f"Shape After Dropping Rows with Missing Critical Columns: {data.shape}")

Missing Values in Critical Columns:
 item_id            464051
status             464066
created_at         464051
sku                464071
price              464051
qty_ordered        464051
grand_total        464051
category_name_1    464215
discount_amount    464051
payment_method     464051
Year               464051
Month              464051
Customer Since     464062
M-Y                464051
Customer ID        464062
dtype: int64
Shape After Dropping Rows with Missing Critical Columns: (584314, 15)

In [4]:
# Remove duplicate rows
data.drop_duplicates(inplace=True)

# Display shape after removing duplicates
print(f"Shape After Removing Duplicates: {data.shape}")

Shape After Removing Duplicates: (584314, 15)

In [5]:
# Convert 'created_at' and 'Customer Since' to datetime
data['created_at'] = pd.to_datetime(data['created_at'], errors='coerce')
data['Customer Since'] = pd.to_datetime(data['Customer Since'], errors='coerce')

# Check for successful conversion
print("Converted Date Columns:\n", data[['created_at', 'Customer Since']].head())

Converted Date Columns:
   created_at Customer Since
0 2016-07-01     2016-07-01
1 2016-07-01     2016-07-01
2 2016-07-01     2016-07-01
3 2016-07-01     2016-07-01
4 2016-07-01     2016-07-01

In [6]:
# Convert Customer ID to numeric (integer) safely
data["Customer ID"] = data["Customer ID"].astype(float).astype(int)

# Verify the results
print(data["Customer ID"].unique())

[     1      2      3 ... 115324 115325 115326]

In [7]:
# Investigate outliers in price, grand_total, and discount_amount
print("\nOutlier Check for Price:")
print(data['price'].describe())

print("\nOutlier Check for Grand Total:")
print(data['grand_total'].describe())

print("\nOutlier Check for Discount Amount:")
print(data['discount_amount'].describe())

Outlier Check for Price:
count    5.843140e+05
mean     6.350766e+03
std      1.495150e+04
min      0.000000e+00
25%      3.600000e+02
50%      8.994000e+02
75%      4.090000e+03
max      1.012626e+06
Name: price, dtype: float64

Outlier Check for Grand Total:
count    5.843140e+05
mean     8.532892e+03
std      6.133168e+04
min     -1.594000e+03
25%      9.452000e+02
50%      1.961000e+03
75%      6.999000e+03
max      1.788800e+07
Name: grand_total, dtype: float64

Outlier Check for Discount Amount:
count    584314.000000
mean        499.655327
std        1507.185808
min        -599.500000
25%           0.000000
50%           0.000000
75%         160.734400
max       90300.000000
Name: discount_amount, dtype: float64

In [8]:
# Identify rows with extreme price values
price_outliers = data[(data['price'] == 0) | (data['price'] > 100000)]
print(price_outliers)

         item_id      status created_at  \
1639    213040.0    canceled 2016-07-09
1647    213048.0    canceled 2016-07-09
1816    213236.0    canceled 2016-07-10
2274    213734.0    canceled 2016-07-12
2520    214021.0    canceled 2016-07-13
...          ...         ...        ...
584453  905131.0    canceled 2018-08-28
584458  905137.0    canceled 2018-08-28
584494  905174.0    canceled 2018-08-28
584521  905206.0  processing 2018-08-28
584523  905208.0  processing 2018-08-28

                                           sku     price  qty_ordered  \
1639                Apple iPhone 6S Plus 128GB  121499.0          1.0
1647    MACBOOK AIR 13-INCH 256 GB Flash Drive  145000.0          1.0
1816                          s_tv_KDL-50W800C  151545.0          1.0
2274                          s_tv_KDL-60W600B  190725.0          1.0
2520                           hyundai_HGS7250  105999.0          1.0
...                                        ...       ...          ...
584453                     MATSAM5B6D7208C6D30  129999.0          1.0
584458                     MATSAM5B6D7208C6D30  129999.0          1.0
584494                     MATSAM5B6D7208C6D30  129999.0          1.0
584521                     MATSAM5B6D7208C6D30  129999.0          2.0
584523                     MATSAM5B10F91A9B6AB  108640.0          2.0

        grand_total    category_name_1  discount_amount payment_method  \
1639       121499.0  Mobiles & Tablets              0.0      mygateway
1647       145000.0          Computing              0.0  ublcreditcard
1816       151545.0      Entertainment              0.0  ublcreditcard
2274       190725.0      Entertainment              0.0  ublcreditcard
2520       105999.0         Appliances              0.0        mcblite
...             ...                ...              ...            ...
584453     130299.0  Mobiles & Tablets              0.0    bankalfalah
584458     130299.0  Mobiles & Tablets              0.0    bankalfalah
584494     130299.0  Mobiles & Tablets              0.0    bankalfalah
584521     652178.0  Mobiles & Tablets              0.0    bankalfalah
584523     652178.0  Mobiles & Tablets              0.0    bankalfalah

          Year  Month Customer Since     M-Y  Customer ID
1639    2016.0    7.0     2016-07-01  7-2016          678
1647    2016.0    7.0     2016-07-01  7-2016          678
1816    2016.0    7.0     2016-07-01  7-2016          740
2274    2016.0    7.0     2016-07-01  7-2016          740
2520    2016.0    7.0     2016-07-01  7-2016         1000
...        ...    ...            ...     ...          ...
584453  2018.0    8.0     2018-07-01  8-2018       113694
584458  2018.0    8.0     2018-07-01  8-2018       113694
584494  2018.0    8.0     2018-08-01  8-2018       115321
584521  2018.0    8.0     2018-07-01  8-2018       113474
584523  2018.0    8.0     2018-07-01  8-2018       113474

[4373 rows x 15 columns]

In [9]:
# Identify rows with extreme grand_total values
grand_total_outliers = data[(data['grand_total'] < 0) | (data['grand_total'] > 1000000)]
print(grand_total_outliers)

         item_id          status created_at                         sku  \
949     212228.0        canceled 2016-07-03                  Lenovo Zuk
5699    217553.0        canceled 2016-07-23  Huawei Mate 8 With 4GB Ram
15878   231239.0  order_refunded 2016-08-16              iPhone SE-16GB
15879   231240.0  order_refunded 2016-08-16  Apple iPhone 6 (16GB) Gold
190608  451416.0        complete 2017-04-20             Samsung_40K5000
...          ...             ...        ...                         ...
571270  890219.0        complete 2018-07-27       MEFOXF5B39EF5CC541E-M
571271  890221.0        complete 2018-07-27            VIT5AC4A6E65D6C6
571272  890222.0        complete 2018-07-27            HIJ5B2204D154E0F
571273  890223.0        complete 2018-07-27         HASQAR5A53699375950
571274  890224.0        complete 2018-07-27         SOGALM5A8BD55B70D5F

          price  qty_ordered  grand_total    category_name_1  discount_amount  \
949     33999.0         34.0    1155966.0  Mobiles & Tablets              0.0
5699    63999.0         20.0    1279980.0  Mobiles & Tablets              0.0
15878   54151.0         16.0    1280473.0  Mobiles & Tablets              0.0
15879   59151.0          7.0    1280473.0  Mobiles & Tablets              0.0
190608  49499.0         21.0    1039479.0      Entertainment              0.0
...         ...          ...          ...                ...              ...
571270    420.0          1.0       -340.6      Men's Fashion            612.6
571271    180.0          1.0       -340.6         Superstore            612.6
571272    450.0          1.0       -340.6         Superstore            612.6
571273     98.0          4.0       -340.6    Health & Sports            612.6
571274    475.0          1.0       -340.6            Soghaat            612.6

        payment_method    Year  Month Customer Since     M-Y  Customer ID
949          mygateway  2016.0    7.0     2016-07-01  7-2016          356
5699     ublcreditcard  2016.0    7.0     2016-07-01  7-2016         1750
15878          mcblite  2016.0    8.0     2016-08-01  8-2016         4095
15879          mcblite  2016.0    8.0     2016-08-01  8-2016         4095
190608  cashatdoorstep  2017.0    4.0     2017-04-01  4-2017        42128
...                ...     ...    ...            ...     ...          ...
571270     bankalfalah  2018.0    7.0     2016-08-01  7-2018         3732
571271     bankalfalah  2018.0    7.0     2016-08-01  7-2018         3732
571272     bankalfalah  2018.0    7.0     2016-08-01  7-2018         3732
571273     bankalfalah  2018.0    7.0     2016-08-01  7-2018         3732
571274     bankalfalah  2018.0    7.0     2016-08-01  7-2018         3732

[93 rows x 15 columns]

In [10]:
# Identify rows with extreme discount_amount values
discount_outliers = data[(data['discount_amount'] < 0) | (data['discount_amount'] > 5000)]
print(discount_outliers)

         item_id          status created_at  \
6998    218984.0        complete 2016-07-27
6999    218985.0        complete 2016-07-27
8884    221157.0  order_refunded 2016-08-01
13100   227515.0        complete 2016-08-09
13101   227517.0        complete 2016-08-09
...          ...             ...        ...
582033  902358.0        received 2018-08-17
582034  902359.0        received 2018-08-17
582058  902385.0            paid 2018-08-17
582059  902386.0            paid 2018-08-17
582060  902387.0            paid 2018-08-17

                                                      sku    price  \
6998                                     Haier_LE 32B8000  20538.0
6999                      samsungGALAXY J710F-2016 DS LTE  33000.0
8884    dawlance_Health Zone Plus 30 - 1.5 Ton Air Con...  37550.0
13100                                  Lenovo Zuk Z1-Grey  24999.0
13101                                          Lunarl-500   7200.0
...                                                   ...      ...
582033                                ENTECO5AE5B828DAFDB  32799.0
582034                                APPHAI5AE585BA60758  29999.0
582058                                ENTECO5AE5B828DAFDB  32799.0
582059                                APPHAI5AE585BA60758  29999.0
582060                                APPDAW5A54A37A0CB22   5958.0

        qty_ordered  grand_total    category_name_1  discount_amount  \
6998            1.0       3538.0      Entertainment         19180.77
6999            1.0       3538.0  Mobiles & Tablets         30819.23
8884            1.0      17550.0         Appliances         20000.00
13100           1.0       2199.0  Mobiles & Tablets         23291.72
13101           1.0       2199.0          Computing          6708.28
...             ...          ...                ...              ...
582033          1.0      57598.0      Entertainment          5500.00
582034          1.0      57598.0         Appliances          5500.00
582058          1.0       2158.0      Entertainment          5900.00
582059          1.0       2158.0         Appliances          5900.00
582060          1.0       2158.0         Appliances          5900.00

         payment_method    Year  Month Customer Since     M-Y  Customer ID
6998                cod  2016.0    7.0     2016-07-01  7-2016         2044
6999                cod  2016.0    7.0     2016-07-01  7-2016         2044
8884                cod  2016.0    8.0     2016-07-01  8-2016           66
13100               cod  2016.0    8.0     2016-08-01  8-2016         2465
13101               cod  2016.0    8.0     2016-08-01  8-2016         2465
...                 ...     ...    ...            ...     ...          ...
582033  easypay_voucher  2018.0    8.0     2018-05-01  8-2018       109061
582034  easypay_voucher  2018.0    8.0     2018-05-01  8-2018       109061
582058      bankalfalah  2018.0    8.0     2018-05-01  8-2018       109061
582059      bankalfalah  2018.0    8.0     2018-05-01  8-2018       109061
582060      bankalfalah  2018.0    8.0     2018-05-01  8-2018       109061

[13547 rows x 15 columns]

In [11]:
# Keeping rows with non-negative grand_total or those explicitly marked as refunded
data = data[(data['grand_total'] >= 0) | (data['status'] == 'order_refunded')]

In [12]:
# Removing rows with negative discounts
data = data[data['discount_amount'] >= 0]

In [13]:
# Removing extreme discounts if outliers are invalid
data = data[data['discount_amount'] <= 20000]

In [14]:
# Focusing on completed orders
data = data[data['status'].str.lower() == 'complete']
# Display shape after filtering for completed orders
print(f"Shape After Filtering for Completed Orders: {data.shape}")

Shape After Filtering for Completed Orders: (233635, 15)

In [17]:
# Saving the cleaned dataset to a new CSV file
data.to_excel('Cleaned_Ecommerce_Dataset.xlsx', index=False, engine='openpyxl')
print("Cleaned dataset saved as 'Cleaned_Ecommerce_Dataset.xlsx'.")

Cleaned dataset saved as 'Cleaned_Ecommerce_Dataset.xlsx'.

In [18]:
print(data.info())
print(data.head())

<class 'pandas.core.frame.DataFrame'>
Index: 233635 entries, 0 to 577295
Data columns (total 15 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   item_id          233635 non-null  float64
 1   status           233635 non-null  object
 2   created_at       233635 non-null  datetime64[ns]
 3   sku              233635 non-null  object
 4   price            233635 non-null  float64
 5   qty_ordered      233635 non-null  float64
 6   grand_total      233635 non-null  float64
 7   category_name_1  233635 non-null  object
 8   discount_amount  233635 non-null  float64
 9   payment_method   233635 non-null  object
 10  Year             233635 non-null  float64
 11  Month            233635 non-null  float64
 12  Customer Since   233635 non-null  datetime64[ns]
 13  M-Y              233635 non-null  object
 14  Customer ID      233635 non-null  int64
dtypes: datetime64[ns](2), float64(7), int64(1), object(5)
memory usage: 28.5+ MB
None
     item_id    status created_at  \
0   211131.0  complete 2016-07-01
3   211135.0  complete 2016-07-01
6   211138.0  complete 2016-07-01
7   211139.0  complete 2016-07-01
10  211142.0  complete 2016-07-01

                                                 sku   price  qty_ordered  \
0                                  kreations_YI 06-L  1950.0          1.0
3                                     kcc_krone deal   360.0          1.0
6                                     kcc_krone deal   360.0          1.0
7                       UK_Namkino Mix Nimco 400 Gms   170.0          1.0
10  GFC_Pedestal Myga Cross Base (Special Guard) 24"  5500.0          1.0

    grand_total    category_name_1  discount_amount payment_method    Year  \
0        1950.0    Women's Fashion              0.0            cod  2016.0
3          60.0  Beauty & Grooming            300.0            cod  2016.0
6          60.0  Beauty & Grooming            300.0            cod  2016.0
7         170.0            Soghaat              0.0            cod  2016.0
10       5500.0         Appliances              0.0            cod  2016.0

    Month Customer Since     M-Y  Customer ID
0     7.0     2016-07-01  7-2016            1
3     7.0     2016-07-01  7-2016            4
6     7.0     2016-07-01  7-2016            7
7     7.0     2016-07-01  7-2016            6
10    7.0     2016-07-01  7-2016            9